

.card {
  border-radius: 4px;
  background-color: #2d027f;
  transition: all 0.2s;
  margin: 0 auto;
  text-align: center;

  
  ;
}

.sidebar {
  height: 100vh;
  border-right: 'black solid .5px';
  width: 35vw;
  position: absolute;
  background: 'white' solid;
}

.navWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.browserNav {
  padding-left: 10px;
  padding-right: 10px;
  display: none;
  color:#086320
}